<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <div style="border: 20px solid; padding: 2vh; margin: 22px;">
        <h1>Contact Us</h1>
    </div>

    <p>I have <span style="color:blue">blue</span> eyes.</p>

    <form action="URL" method="post">
        <br>
        <label for="FirstName">First Name</label> <br>
        <input type="text" id="FirsName" name="FirstName" autocomplete="on" required> <br>

        <label for="LastName">Last Name</label> <br>
        <input type="text" id="LastName" name="LastName" autocomplete="on" required> <br>

        <label for="email">Email</label> <br>
        <input type="email" id="email" name="email" autocomplete="on" required> <br>

        <label for="City">City</label> <br>
        <input type="text" id="City" name="City" autocomplete="on" required> <br>

        <label for="FreeTxt">Descriptoin</label> <br>
        <input type="text" id="FreeTxt" name="FreeTxt" autocomplete="on" required> <br>

        <input type="submit"> <br>

        <meter min="0" max="100" low="59" high="90" optimum="90" value="50">50%</meter>

    </form>


    <ul>
        <li><a href="home.html">home page</a></li>
    </ul>

    <title>Document</title>
</head>
<body>

</body>
</html>