<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="innerHeader">
        <ul class="navigation">
            <a href="file:///C:/Users/stavd/Documents/GitHub/stav-dorani/templates/HomePage.html" target="_blank"><li>My Home page</li></a>
            <a href="file:///C:/Users/stavd/Documents/GitHub/stav-dorani/templates/connect-us.html" target="_blank"><li>Contact us</li></a>
        </ul>
    </nav>
    <div style="border: 18px solid; padding: 2vh; margin: 24px;">
        <h1>Welcome To My Home Page</h1>
    </div>
    <img src='C:\Users\stavd\Desktop\download.jpg' alt="myPic"> />
    <br />
    <p>
        <b>this is my home page fill like home :)</b>
    </p>
    <ul>
        <li><a href="contact us.html">contact us</a></li>
    </ul>
    <mark> It is not the critic who counts; not the man who points out how the strong man stumbles, or where the doer of deeds could have done them better… </mark>
</body>
</html>